<!DOCTYPE html>
<html>
<head>
  <title>StudentAttendance</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application', "//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js", "//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js" %>
   <%= javascript_include_tag 
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
